/* Estilos para a estrutura geral */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ffffff;
  }
  
  .header {
    background: linear-gradient(130.52deg, #4510A3 11.33%, #0CD2AB 59.88%);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  
  .menu_lateral {
    width: 200px;
    background: #F3F3F3;
    border-right: 1px solid #C8C8C8;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .menu_item {
    padding: 1rem;
    color: #333333;
    cursor: pointer;
  }
  
  .menu_item.active {
    background: #4510A3;
    color: #FFFFFF;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search_section {
    width: 50%;
    margin-bottom: 2rem;
  }
  
  .search_input {
    width: 100%;
    padding: 1rem;
    border-radius: 31px;
    border: 1px solid #F7F7F7;
    font-size: 1rem;
    color: #AAAAAA;
  }
  
  .welcome_text {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #000;
  }
  
  .welcome_description {
    text-align: center;
    font-size: 1rem;
    color: #AAAAAA;
  }
  